
[BASE]
TITLE = FastAPI Boilerplate
DESCRIPTION = FastAPI Boilerplate
IS_SECURE_COOKIE = 0


[CONTACT]
NAME = Your Name
URL = https://yourdomain.com
EMAIL = None

[JWT]
ACCESS_SECRET_KEY = your_access_secret_key
REFRESH_SECRET_KEY = your_refresh_secret_key

[REDIS]
is_used = 0
HOST = redis
USERNAME =
PASSWORD =
PORT = 6379
